# Eat Safe, Love

## Notebook Set Up

In [17]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [18]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [19]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [20]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [21]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [22]:
# Find the establishments with a hygiene score of 20

query = {'scores.Hygiene': 20}
establishments = db['establishments']

# Use count_documents to display the number of documents in the result
num_documents = establishments.count_documents(query)
print(num_documents)
# Display the first document in the results using pprint
pprint(establishments[0])

41
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food'), 'establishments.0')

In [30]:
# Convert the result to a Pandas DataFrame
df= pd.DataFrame(establishments)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

TypeError: 'Collection' object is not iterable

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [37]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    'LocalAuthorityName': 'London',
    'RatingValue': {'$gte': 4}
}

# Use count_documents to display the number of documents in the result
num_documents = establishments.count_documents(query)
# Display the first document in the results using pprint
result = establishments.find(query)
first_document = result[0]
pprint.pprint(first_document)

No documents found.

In [38]:
# Convert the result to a Pandas DataFrame
df= pd.DataFrame(establishments)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

TypeError: 'Collection' object is not iterable

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame